body { 
    font-family: 'Courier New', cursive;
}

h1 { 
    font-family: 'Courier New', cursive;
    text-align: center;
    color: #FFFFFF;
    
}
body{
    background-image: url('https://wallpaperaccess.com/full/1829697.jpg');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
ul {
    list-style-type: square;
    font-size:30px;
}

li {
    color: #FFFFFF;
}