body { 
    font-family: 'Courier New', cursive;
}

h1 { 
    font-family: 'Courier New', cursive;
    color: #FFFFFF;
}
body{
    background-image: url('https://static.wikia.nocookie.net/logocomics/images/f/f6/Dccomics.gif/revision/latest?cb=20120309001440');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
ul {
    list-style-type: square;
    font-size:30px;
}

li {
    color: #FFFFFF;
}