ul {
    list-style-type: square;
    font-size:30px;
}

h1 { 
    font-family: 'Courier New', cursive;
    font-weight: bold;
    text-align: center;
       
      
}

body { 
    font-family: 'Courier New', cursive;
    font-weight: bold;
}