ul {
    font-size:30px;
}

h1 { 
    font-family: 'Courier New', cursive;
    font-weight: bold;
    text-align: center;
    color:black;
}

body { 
    font-family: 'Courier New', cursive;
    font-weight: bold;
    color:black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

div { 
    display:block; 
    float:left; 
}